@import url("https://fonts.googleapis.com/css?family=Rajdhani");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; }

body {
  overflow: scroll;
  overflow-x: hidden;
  position: relative; }

canvas {
  background-color: #000;
  width: 100vw;
  height: 100vh; }

a {
  text-decoration: none;
  color: inherit; }

.home {
  width: 100%;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
  overflow: hidden; }
  .home__nav {
    position: fixed;
    width: 100vw;
    height: 0;
    background-color: #fff;
    margin: auto;
    text-align: center;
    overflow: hidden;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 20;
    padding-left: 0; }
    .home__nav li {
      display: inline-block;
      margin: 100px;
      margin-top: 200px;
      font-size: 40px;
      border-bottom: solid 1px transparent;
      border-top: solid 1px transparent;
      -webkit-transition: 1s;
      transition: 1s; }
      .home__nav li:after {
        content: "";
        width: 110px;
        height: 2px;
        background: #000;
        position: absolute;
        transition: 1s;
        transform: scale(0);
        display: block; }
      .home__nav li:before {
        content: "";
        width: 110px;
        height: 2px;
        background: #000;
        position: absolute;
        transition: 1s;
        transform: scale(0);
        display: block; }
      .home__nav li:hover:before {
        transform: scale(1); }
      .home__nav li:hover:after {
        transform: scale(1); }
      @media (max-width: 950px) {
        .home__nav li {
          margin-left: 50px;
          margin-right: 50px; } }
      @media (max-width: 650px) {
        .home__nav li {
          margin: auto;
          width: 110px;
          margin-top: 20px;
          display: block; }
          .home__nav li:nth-child(1) {
            margin-top: 100px; } }
      .home__nav li a {
        color: #000;
        text-decoration: none; }
    .home__nav.open {
      height: 100vh;
      -webkit-transition: 1s;
      transition: 1s; }
  .home__navFixed {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 990; }
  .home__homeButton {
    background: url(../img/hexagon-geometrical-shape-outline.white.png);
    background-size: cover;
    position: absolute;
    top: 7px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 11;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s; }
    .home__homeButton:hover {
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
      -webkit-transition: 1s;
      transition: 1s;
      cursor: pointer; }
    .home__homeButton.background {
      background: url(../img/hexagon-geometrical-shape-outline.png);
      background-size: cover;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 40px;
      height: 40px;
      z-index: 11;
      opacity: 0;
      -webkit-transition: 1;
      transition: 1; }
  .home__menuButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    z-index: 999;
    color: #fff; }
    .home__menuButton:hover {
      cursor: pointer; }
  .home__menuButtonWrapper {
    position: relative;
    margin-top: 13px;
    height: 20px;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s; }
    .home__menuButtonWrapper:hover .home__menuButtonItem:nth-child(1) {
      -webkit-transform: translatey(-5px);
      transform: translatey(-5px);
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .home__menuButtonWrapper:hover .home__menuButtonItem:nth-child(2) {
      -webkit-transform: translatey(5px);
      transform: translatey(5px);
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  .home__menuButtonItem {
    display: block;
    height: 1px;
    width: 80%;
    margin: 4px;
    background: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .home__menuButtonItem.active:nth-child(1) {
      -webkit-transform: translateY(2.5px) rotate(45deg) !important;
      transform: translateY(2.5px) rotate(45deg) !important;
      -webkit-transition: 0.5s !important;
      transition: 0.5s !important; }
    .home__menuButtonItem.active:nth-child(2) {
      -webkit-transform: translateY(-2.5px) rotate(-45deg) !important;
      transform: translateY(-2.5px) rotate(-45deg) !important;
      -webkit-transition: 0.5s !important;
      transition: 0.5s !important; }
    .home__menuButtonItem.color {
      background: #000; }
  .home__name {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 0;
    -webkit-transition: 1s;
    transition: 1s;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
    overflow: hidden; }
    .home__name P {
      margin: 0;
      padding: 3px;
      font-size: 20px; }
    .home__name.borderName {
      height: 30px;
      -webkit-transition: 1s;
      transition: 1s; }

.home-typeWritting {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  color: white; }
  .home-typeWritting .line-1 {
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 2px solid #fed136;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .home-typeWritting .anim-typewriter {
    -webkit-animation: typewriterWelcome 0.7s steps(7) 1s 1 normal both, blinkTextCursor 500ms steps(12) infinite normal;
    animation: typewriterWelcome 0.7s steps(7) 1s 1 normal both, blinkTextCursor 500ms steps(12) infinite normal; }
  .home-typeWritting.borderName {
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
    -webkit-transition: 1s;
    transition: 1s; }

.work {
  position: relative;
  text-align: center;
  height: 100vh; }
  .work .container {
    position: relative;
    top: -600px; }
    @media (max-width: 550px) {
      .work .container {
        top: -482px; } }
  .work h1 {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 37px;
    letter-spacing: 6px;
    font-weight: 400;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
    display: inline-block; }
  .work__wrapper {
    padding: 20px;
    border: solid 1px #fff; }
  .work__sliderItem {
    overflow: hidden;
    position: relative; }
    .work__sliderItem img {
      width: 96%;
      margin: 2%;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    .work__sliderItem:hover img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }
    .work__sliderItem:hover .work__overlay {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); }
  .work__overlay {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scaley(0);
    transform: scaley(0);
    text-align: center;
    padding: 10px; }
    @media (max-width: 600px) {
      .work__overlay {
        left: 0;
        right: 0; } }
  .work__overlayDetiles {
    color: #fff; }
    .work__overlayDetiles button {
      background: transparent;
      border: solid #fff 1px;
      color: #fff;
      font-family: 'Rajdhani', sans-serif;
      -webkit-transition: .5s;
      transition: .5s;
      padding: 4px 40px;
      font-size: 20px;
      letter-spacing: 3px; }
      .work__overlayDetiles button:hover {
        background: #fff;
        color: #000;
        -webkit-transition: .5s;
        transition: .5s;
        cursor: pointer;
        -webkit-transform: scale(0.9);
        transform: scale(0.9); }
      @media (max-width: 740px) {
        .work__overlayDetiles button {
          padding: 2px 12px;
          font-size: 15px;
          letter-spacing: 0; } }
      @media (max-width: 550px) {
        .work__overlayDetiles button {
          display: none; } }
  .work__overlayText {
    font-family: 'Rajdhani', sans-serif; }
    .work__overlayText h2 {
      border-bottom: solid 1px transparent;
      letter-spacing: 2px;
      display: inline-block;
      -webkit-transition: .5s;
      transition: .5s;
      text-transform: uppercase;
      font-weight: lighter; }
      .work__overlayText h2:hover {
        cursor: pointer;
        border-bottom: solid 1px #fff;
        -webkit-transition: border .5s;
        transition: border .5s; }
      @media (max-width: 992px) {
        .work__overlayText h2 {
          margin-bottom: 0; } }
      @media (max-width: 682px) {
        .work__overlayText h2 {
          font-size: 16px;
          letter-spacing: 1px; } }
      @media (max-width: 485px) {
        .work__overlayText h2 {
          font-size: 10px;
          letter-spacing: 0; } }
    @media (max-width: 992px) {
      .work__overlayText p {
        margin-top: 0; } }
    @media (max-width: 682px) {
      .work__overlayText p {
        font-size: 12px; } }
    @media (max-width: 400px) {
      .work__overlayText p {
        display: none; } }
  .work__overlayIcon {
    height: 50px;
    width: 50px;
    margin: auto;
    -webkit-animation: spinnerx;
    animation: spinnerx;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }
    @media (max-width: 743px) {
      .work__overlayIcon {
        display: none; } }
  .work__arrowDown {
    position: absolute;
    right: 50%;
    background: url(../img/chevron.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17px;
    bottom: 20px;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    transform: rotate(180deg) translate(-50%, 0); }
    @media (max-width: 991px) {
      .work__arrowDown {
        bottom: 20%; } }
    .work__arrowDown a {
      text-decoration: none;
      color: #fff; }

.contact {
  font-family: 'Rajdhani', sans-serif;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #000;
  background: #fff;
  position: absolute; }
  .contact__mail {
    position: relative;
    margin-top: 200px;
    color: #000; }
    .contact__mail:before {
      content: "";
      width: 100%;
      height: 5px;
      background: #000;
      position: absolute;
      top: -30px;
      transition: 1s;
      transition-timing-function: cubic-bezier(0, 1.56, 1, 1);
      transform: translate(-100%, 0);
      display: block; }
    .contact__mail:after {
      content: "";
      width: 100%;
      height: 5px;
      background: #000;
      position: absolute;
      bottom: -30px;
      transition: 1s;
      transition-timing-function: cubic-bezier(0, 1.56, 1, 1);
      transform: translate(100%, 0);
      display: block; }
    .contact__mail.animation:before {
      transform: translate(-30%, 0); }
    .contact__mail.animation:after {
      transform: translate(30%, 0); }
  .contact__envelop {
    display: inline-block;
    width: 30px;
    height: 30px; }
    .contact__envelop img {
      width: 100%; }
  .contact p {
    font-size: 23px; }
  .contact h1 {
    letter-spacing: 7px; }
    @media (max-width: 500px) {
      .contact h1 {
        letter-spacing: 3px; } }
    @media (max-width: 400px) {
      .contact h1 {
        letter-spacing: 0; } }
  .contact__arrowUp {
    position: absolute;
    right: 6px;
    bottom: 10px;
    padding: 17px;
    font-size: 40px;
    cursor: pointer;
    background: url(../img/chevronBlack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .contact__arrowUp a {
      text-decoration: none;
      color: #000; }

.about {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  color: white;
  z-index: 10;
  font-family: 'Rajdhani', sans-serif; }
  .about .container {
    width: 90%;
    padding: 10%; }
  .about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about__text h1 {
      font-size: 40px;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 17px; }
    .about__text p {
      font-size: 20px;
      letter-spacing: 1px;
      margin: 3px auto;
      display: inline-block; }
  .about__line-1 {
    color: white;
    border-right: .1em solid transparent;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    -webkit-animation: typewriterWelcome 0.7s steps(10) 1s 1 normal both, blink-caret 0.5s step-end 5 alternate;
    animation: typewriterWelcome 0.7s steps(10) 1s 1 normal both, blink-caret 0.5s step-end 5 alternate; }
  .about__line-2 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLine 2s steps(22) 3s 1 normal both, blink-caret 0.5s step-end 2.5s 5 alternate;
    animation: typewriterAboutFirstLine 2s steps(22) 3s 1 normal both, blink-caret 0.5s step-end 2.5s 5 alternate;
    opacity: 1; }
  .about__line-3 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutSecondLine 1.7s steps(22) 5.5s 1 normal both, blink-caret 0.5s step-end 5s 4 alternate;
    animation: typewriterAboutSecondLine 1.7s steps(22) 5.5s 1 normal both, blink-caret 0.5s step-end 5s 4 alternate; }
  .about__line-4 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutThirdLine 1.5s steps(22) 7.5s 1 normal both, blink-caret 0.5s step-end 7s 4 alternate;
    animation: typewriterAboutThirdLine 1.5s steps(22) 7.5s 1 normal both, blink-caret 0.5s step-end 7s 4 alternate; }
  .about__line-5 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFourthLine 2s steps(22) 9.5s 1 normal both, blink-caret 0.5s step-end 9s infinite alternate;
    animation: typewriterAboutFourthLine 2s steps(22) 9.5s 1 normal both, blink-caret 0.5s step-end 9s infinite alternate; }
  .about__icons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 100px; }
  .about__iconsBox {
    margin: 4px; }
    .about__iconsBox i {
      font-size: 60px; }
    .about__iconsBox:nth-child(1) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; }
    .about__iconsBox:nth-child(2) {
      -webkit-animation-delay: 12.2s;
      animation-delay: 12.2s; }
    .about__iconsBox:nth-child(3) {
      -webkit-animation-delay: 12.33s;
      animation-delay: 12.33s; }
    .about__iconsBox:nth-child(4) {
      -webkit-animation-delay: 12.4s;
      animation-delay: 12.4s; }
    .about__iconsBox:nth-child(5) {
      -webkit-animation-delay: 12.5s;
      animation-delay: 12.5s; }
    .about__iconsBox:nth-child(6) {
      -webkit-animation-delay: 12.6s;
      animation-delay: 12.6s; }
    .about__iconsBox:nth-child(7) {
      -webkit-animation-delay: 12.7s;
      animation-delay: 12.7s; }
    .about__iconsBox:nth-child(8) {
      -webkit-animation-delay: 12.8s;
      animation-delay: 12.8s; }
    .about__iconsBox:nth-child(9) {
      -webkit-animation-delay: 12.9s;
      animation-delay: 12.9s; }
    .about__iconsBox:nth-child(10) {
      -webkit-animation-delay: 13s;
      animation-delay: 13s; }
  .about__mail {
    margin-top: 30px;
    text-align: center;
    opacity: 0; }
    .about__mail.mail-animation {
      opacity: 1;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: 1s;
      transition: 1s; }
    .about__mail p {
      font-size: 20px; }

.aboutMobile {
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  color: white;
  z-index: 10;
  font-family: 'Rajdhani', sans-serif;
  width: 100%;
  max-width: 320px;
  padding: 6px; }
  .aboutMobile__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: justify;
    font-size: 18px;
    line-height: 22px; }
    .aboutMobile__text h1 {
      font-size: 30px;
      letter-spacing: 1px;
      margin: auto;
      margin-bottom: 17px; }
    .aboutMobile__text p {
      font-size: 17px;
      letter-spacing: .5px;
      margin: 3px auto; }
  .aboutMobile__line-1 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    -webkit-animation: typewriterWelcomeMobile 0.5s steps(10) 1s 1 normal both, blink-caret 0.5s step-end 6 alternate;
    animation: typewriterWelcomeMobile 0.5s steps(10) 1s 1 normal both, blink-caret 0.5s step-end 6 alternate; }
  .aboutMobile__line-2 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 3.5s 1 normal both, blink-caret 0.5s step-end 3 3s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 3.5s 1 normal both, blink-caret 0.5s step-end 3 3s alternate; }
  .aboutMobile__line-3 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 5.5s 1 normal both, blink-caret 0.5s step-end 3 5s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 5.5s 1 normal both, blink-caret 0.5s step-end 3 5s alternate; }
  .aboutMobile__line-4 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 7s 1 normal both, blink-caret 0.5s step-end 3 6.5s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 7s 1 normal both, blink-caret 0.5s step-end 3 6.5s alternate; }
  .aboutMobile__line-5 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 10s 1 normal both, blink-caret 0.5s step-end 4 9s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 10s 1 normal both, blink-caret 0.5s step-end 4 9s alternate; }
  .aboutMobile__line-6 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 11s normal both, blink-caret 0.5s step-end 3 10.5s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 1 11s normal both, blink-caret 0.5s step-end 3 10.5s alternate; }
  .aboutMobile__line-7 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 12.5s normal both, blink-caret 0.5s step-end 3 11.2s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 1 12.5s normal both, blink-caret 0.5s step-end 3 11.2s alternate; }
  .aboutMobile__line-8 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineShortMobile 1s steps(22) 1 13.5s normal both, blink-caret 0.5s step-end 5 13s alternate;
    animation: typewriterAboutFirstLineShortMobile 1s steps(22) 1 13.5s normal both, blink-caret 0.5s step-end 4 13s alternate; }
  .aboutMobile__line-9 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 16s normal both, blink-caret 0.5s step-end 3 15s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 1 16s normal both, blink-caret 0.5s step-end 3 15s alternate; }
  .aboutMobile__line-10 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 17s normal both, blink-caret 0.5s step-end 3 16.5s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 1 17s normal both, blink-caret 0.5s step-end 3 16.5s alternate; }
  .aboutMobile__line-11 {
    margin-left: 150px;
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutMarkMobile 1s steps(12) 1 18.5s normal both, blink-caret 0.5s step-end infinite 18s alternate;
    animation: typewriterAboutMarkMobile 1s steps(12) 1 18.5s normal both, blink-caret 0.5s step-end infinite 18s alternate; }
  .aboutMobile__icons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px; }
  .aboutMobile__iconsBox i {
    font-size: 50px; }
    @media (max-width: 520px) {
      .aboutMobile__iconsBox i {
        font-size: 30px; } }
  .aboutMobile__iconsBox:nth-child(1) {
    -webkit-animation-delay: 19s;
    animation-delay: 19s; }
  .aboutMobile__iconsBox:nth-child(2) {
    -webkit-animation-delay: 19.2s;
    animation-delay: 19.2s; }
  .aboutMobile__iconsBox:nth-child(3) {
    -webkit-animation-delay: 19.33s;
    animation-delay: 19.33s; }
  .aboutMobile__iconsBox:nth-child(4) {
    -webkit-animation-delay: 19.4s;
    animation-delay: 19.4s; }
  .aboutMobile__iconsBox:nth-child(5) {
    -webkit-animation-delay: 19.5s;
    animation-delay: 19.5s; }
  .aboutMobile__iconsBox:nth-child(6) {
    -webkit-animation-delay: 19.6s;
    animation-delay: 19.6s; }
  .aboutMobile__iconsBox:nth-child(7) {
    -webkit-animation-delay: 19.7s;
    animation-delay: 19.7s; }
  .aboutMobile__iconsBox:nth-child(8) {
    -webkit-animation-delay: 19.8s;
    animation-delay: 19.8s; }
  .aboutMobile__iconsBox:nth-child(9) {
    -webkit-animation-delay: 19.9s;
    animation-delay: 19.9s; }
  .aboutMobile__iconsBox:nth-child(10) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s; }
  .aboutMobile__mail {
    margin-top: 1px;
    text-align: center;
    opacity: 0; }
    .aboutMobile__mail.mail-animation {
      opacity: 1;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: 1s;
      transition: 1s; }
    .aboutMobile__mail p {
      font-size: 20px; }

@keyframes spinner {
  from {
    transform: rotatey(); }
  to {
    transform: rotatey(360deg); } }
@keyframes spinnerx {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes topLine {
  0% {
    transform: translatex(-100%); }
  100% {
    transform: translatex(-20%); } }
@keyframes bottomLine {
  0% {
    transform: translatex(100%); }
  100% {
    transform: translatex(20%); } }
@keyframes typewriterWelcome {
  from {
    width: 0; }
  to {
    width: 200px; } }
@keyframes typewriterAboutFirstLine {
  from {
    width: 0; }
  to {
    width: 900px; }
  @media (max-width: 1000px) {
    width: 600px; } }
@keyframes typewriterAboutSecondLine {
  from {
    width: 0; }
  to {
    width: 790px; } }
@keyframes typewriterAboutThirdLine {
  from {
    width: 0; }
  to {
    width: 660px; } }
@keyframes typewriterAboutFourthLine {
  from {
    width: 0; }
  to {
    width: 860px; } }
@keyframes typewriterWelcomeMobile {
  from {
    width: 0; }
  to {
    width: 140px; } }
@keyframes typewriterAboutFirstLineMobile {
  from {
    width: 0; }
  to {
    width: 300px; } }
@keyframes typewriterAboutFirstLineShortMobile {
  from {
    width: 0; }
  to {
    width: 240px; } }
@keyframes typewriterAboutMarkMobile {
  from {
    width: 0; }
  to {
    width: 110px; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: #fed136; }
  to {
    border-right-color: transparent; } }
@-webkit-keyframes blink-caret {
  50% {
    border-color: white; } }
.fadeInRightBig, .about__iconsBox:nth-child(even), .aboutMobile__iconsBox:nth-child(even) {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInLeftBig, .about__iconsBox:nth-child(odd), .aboutMobile__iconsBox:nth-child(odd) {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: ease-out; }

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/*# sourceMappingURL=style.css.map */
