    .about {
        position: absolute;
        top: 20%;
        left: 50%;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        color: white;
        z-index: 10;
        font-family: 'Rajdhani', sans-serif;
        .container {
            width: 90%;
            padding: 10%;
        }
        &__text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            h1 {
                font-size: 40px;
                letter-spacing: 2px;
                text-align: center;
                margin-bottom: 17px;
            }
            p {
                font-size: 20px;
                letter-spacing: 1px;
                margin: 3px auto;
                display: inline-block;
            }
        }
        &__line-1 {
            color: white;
            border-right: .1em solid transparent;
            width: 190px;
            white-space: nowrap;
            overflow: hidden;
            margin: auto;
            -webkit-animation: typewriterWelcome .7s steps(10) 1s 1 normal both, blink-caret .5s step-end 5 alternate;
            animation: typewriterWelcome .7s steps(10) 1s 1 normal both, blink-caret .5s step-end 5 alternate;
        }
        &__line-2 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLine 2s steps(22) 3s 1 normal both, blink-caret .5s step-end 2.5s 5 alternate;
            animation: typewriterAboutFirstLine 2s steps(22) 3s 1 normal both, blink-caret .5s step-end 2.5s 5 alternate;
            opacity: 1;
        }
        &__line-3 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutSecondLine 1.7s steps(22) 5.5s 1 normal both, blink-caret .5s step-end 5s 4 alternate;
            animation: typewriterAboutSecondLine 1.7s steps(22) 5.5s 1 normal both, blink-caret .5s step-end 5s 4 alternate;
        }
        &__line-4 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutThirdLine 1.5s steps(22) 7.5s 1 normal both, blink-caret .5s step-end 7s 4 alternate;
            animation: typewriterAboutThirdLine 1.5s steps(22) 7.5s 1 normal both, blink-caret .5s step-end 7s 4 alternate;
        }
        &__line-5 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFourthLine 2s steps(22) 9.5s 1 normal both, blink-caret .5s step-end 9s infinite alternate;
            animation: typewriterAboutFourthLine 2s steps(22) 9.5s 1 normal both, blink-caret .5s step-end 9s infinite alternate;
        }
        &__icons {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 100px;
        }
        &__iconsBox {
            margin: 4px;
            i {
                font-size: 60px;
            }
            &:nth-child(odd) {
                @extend .fadeInLeftBig;
            }
            &:nth-child(even) {
                @extend .fadeInRightBig;
            }
            &:nth-child(1) {
                -webkit-animation-delay: 12s;
                animation-delay: 12s;
            }
            &:nth-child(2) {
                -webkit-animation-delay: 12.2s;
                animation-delay: 12.2s;
            }
            &:nth-child(3) {
                -webkit-animation-delay: 12.33s;
                animation-delay: 12.33s;
            }
            &:nth-child(4) {
                -webkit-animation-delay: 12.4s;
                animation-delay: 12.4s;
            }
            &:nth-child(5) {
                -webkit-animation-delay: 12.5s;
                animation-delay: 12.5s;
            }
            &:nth-child(6) {
                -webkit-animation-delay: 12.6s;
                animation-delay: 12.6s;
            }
            &:nth-child(7) {
                -webkit-animation-delay: 12.7s;
                animation-delay: 12.7s;
            }
            &:nth-child(8) {
                -webkit-animation-delay: 12.8s;
                animation-delay: 12.8s;
            }
            &:nth-child(9) {
                -webkit-animation-delay: 12.9s;
                animation-delay: 12.9s;
            }
            &:nth-child(10) {
                -webkit-animation-delay: 13s;
                animation-delay: 13s;
            }
        }
        &__mail {
            margin-top: 30px;
            text-align: center;
            opacity: 0;
            &.mail-animation{
                opacity: 1;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
                -webkit-transition: 1s;
                transition: 1s
                    
            }
            p {
                font-size: 20px;
            }
        }
    }
