.contact {
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #000;
    background: #fff;
    position: absolute;
    //    &__topLine {
    //        margin-top: 177px;
    //        width: 100%;
    //        -webkit-transform: translatex(-20%);
    //        transform: translatex(-20%);
    //        background-color: black;
    //        height: 5px;
    //        display: block;
    //        -webkit-transition: 1s;
    //        transition: 1s;
    //        opacity: 0;
    //        &.animation {
    //            opacity: 1;
    //            -webkit-animation: topLine;
    //            animation: topLine;
    //            -webkit-animation-duration: 1s;
    //            animation-duration: 1s;
    //            -webkit-animation-timing-function: cubic-bezier(.59, .21, 1, .02);
    //            animation-timing-function: cubic-bezier(.59, .21, 1, .02);
    //            -webkit-transition: 1s;
    //            transition: 1s;
    //        }
    //    }
    //    &__bottomLine {
    //        margin-top: 214px;
    //        width: 100%;
    //        -webkit-transform: translatex(20%);
    //        transform: translatex(20%);
    //        background-color: black;
    //        height: 5px;
    //        display: block;
    //        -webkit-transition: 1s;
    //        transition: 1s;
    //        opacity: 0;
    //        &.animation {
    //            opacity: 1;
    //            -webkit-animation: bottomLine;
    //            animation: bottomLine;
    //            -webkit-animation-duration: 1s;
    //            animation-duration: 1s;
    //            -webkit-animation-timing-function: cubic-bezier(.59, .21, 1, .02);
    //            animation-timing-function: cubic-bezier(.59, .21, 1, .02);
    //            -webkit-transition: 1s;
    //            transition: 1s;
    //        }
    //    }
    &__mail {
 
        position: relative;
        margin-top: 200px;
        color: #000;
        &:before {
            content: "";
            width: 100%;
            height: 5px;
            background: #000;
            position: absolute;
            top: -30px;
            transition: 1s;
                transition-timing-function: cubic-bezier(0, 1.56, 1, 1);
            transform: translate(-100%, 0);
            display: block;
        }
        &:after {
            content: "";
            width: 100%;
            height: 5px;
            background: #000;
            position: absolute;
            bottom: -30px;
            transition: 1s;
                transition-timing-function: cubic-bezier(0, 1.56, 1, 1);
            transform: translate(100%, 0);
            display: block;
        }
        &.animation {
            &:before {
                  transform: translate(-30%, 0);  
            }
            &:after {
                transform: translate( 30%, 0);
            }
        }
    }
    &__envelop {
        display: inline-block;
        width: 30px;
        height: 30px;
        img {
            width: 100%;
        }
    }
    p {
        font-size: 23px;
    }
    h1 {
        letter-spacing: 7px;
        @media (max-width: 500px) {
            letter-spacing: 3px;
        }
        @media (max-width: 400px) {
            letter-spacing: 0;
        }
    }
    &__arrowUp {
        position: absolute;
        right: 6px;
        bottom: 10px;
        padding: 17px;
        font-size: 40px;
        cursor: pointer;
        background: url(../img/chevronBlack.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        a {
            text-decoration: none;
            color: #000;
        }
    }
}
