.home-typeWritting {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    color: white;
    .line-1 {
        font-family: 'Rajdhani', sans-serif;
        position: relative;
        top: 50%;
        margin: 0 auto;
        border-right: 2px solid #fed136;
        font-size: 40px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .anim-typewriter {
        -webkit-animation: typewriterWelcome .7s steps(7) 1s 1 normal both, blinkTextCursor 500ms steps(12) infinite normal;
        animation: typewriterWelcome .7s steps(7) 1s 1 normal both, blinkTextCursor 500ms steps(12) infinite normal;
    }
    &.borderName {
        border-bottom: solid 1px #fff;
        border-top: solid 1px #fff;
        -webkit-transition: 1s;
        transition: 1s;
    }
}
