    .home {
        width: 100%;
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
        overflow: hidden;
        &__nav {
            position: fixed;
            width: 100vw;
            height: 0;
            background-color: #fff;
            margin: auto;
            text-align: center;
            overflow: hidden;
            -webkit-transition: 1s;
            transition: 1s;
            z-index: 20;
            padding-left: 0;
            li {
                display: inline-block;
                margin: 100px;
                margin-top: 200px;
                font-size: 40px;
                border-bottom: solid 1px transparent;
                border-top: solid 1px transparent;
                -webkit-transition: 1s;
                transition: 1s;
                &:after {
                    content: "";
                    width: 110px;
                    height: 2px;
                    background: #000;
                    position: absolute;
                    transition: 1s;
                    transform: scale(0);
                    display: block;
        
                }
                &:before {
                    content: "";
                    width: 110px;
                    height: 2px;
                    background: #000;
                    position: absolute;
                    transition: 1s;
                    transform: scale(0);
                    display: block;
      
                }
                &:hover:before {
                    transform: scale(1);
                }
                &:hover:after {
                    transform: scale(1);
                }
                @media (max-width: 950px) {
                    margin-left: 50px;
                    margin-right: 50px;
                }
                @media (max-width: 650px) {
                    margin: auto;
                    width: 110px;
                    margin-top: 20px;
                    display: block;
                    &:nth-child(1) {
                        margin-top: 100px;
                    }
                }
                a {
                    color: #000;
                    text-decoration: none;
                }
            }
            &.open {
                height: 100vh;
                -webkit-transition: 1s;
                transition: 1s;
            }
        }
        &__navFixed {
            position: fixed;
            width: 100%;
            height: 50px;
            z-index: 990;
        }
        &__homeButton {
            background: url(../img/hexagon-geometrical-shape-outline.white.png);
            background-size: cover;
            position: absolute;
            top: 7px;
            left: 20px;
            width: 40px;
            height: 40px;
            z-index: 11;
            opacity: 0;
            -webkit-transition: 1s;
            transition: 1s;
            &:hover {
                -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
                -webkit-transition: 1s;
                transition: 1s;
                cursor: pointer;
            }
            &.background {
                background: url(../img/hexagon-geometrical-shape-outline.png);
                background-size: cover;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 40px;
                height: 40px;
                z-index: 11;
                opacity: 0;
                -webkit-transition: 1;
                transition: 1
            }
        }
        &__menuButton {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 40px;
            height: 40px;
            z-index: 999;
            color: #fff;
            &:hover {
                cursor: pointer;
            }
        }
        &__menuButtonWrapper {
            position: relative;
            margin-top: 13px;
            height: 20px;
            opacity: 0;
            -webkit-transition: 1s;
            transition: 1s;
            &:hover .home__menuButtonItem {
                &:nth-child(1) {
                    -webkit-transform: translatey(-5px);
                    transform: translatey(-5px);
                    -webkit-transition: 0.5s;
                    transition: 0.5s;
                }
                &:nth-child(2) {
                    -webkit-transform: translatey(5px);
                    transform: translatey(5px);
                    -webkit-transition: 0.5s;
                    transition: 0.5s;
                }
            }
        }
        &__menuButtonItem {
            display: block;
            height: 1px;
            width: 80%;
            margin: 4px;
            background: #fff;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            &.active {
                &:nth-child(1) {
                    -webkit-transform: translateY(2.5px)rotate(45deg)!important;
                    transform: translateY(2.5px)rotate(45deg)!important;
                    -webkit-transition: 0.5s !important;
                    transition: 0.5s !important;
                }
                &:nth-child(2) {
                    -webkit-transform: translateY(-2.5px)rotate(-45deg)!important;
                    transform: translateY(-2.5px)rotate(-45deg)!important;
                    -webkit-transition: 0.5s!important;
                    transition: 0.5s!important;
                }
            }
            &.color {
                background: #000;
            }
        }
        &__name {
            position: absolute;
            bottom: 10px;
            right: 10px;
            height: 0;
            -webkit-transition: 1s;
            transition: 1s;
            border-bottom: solid 1px #fff;
            border-top: solid 1px #fff;
            overflow: hidden;
            P {
                margin: 0;
                padding: 3px;
                font-size: 20px;
            }
            &.borderName {
                height: 30px;
                -webkit-transition: 1s;
                transition: 1s;
            }
        }
    }
