@keyframes spinner {
    from {
        transform: rotatey();
    }
    to {
        transform: rotatey(360deg);
    }
}
@keyframes spinnerx {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes topLine {
    0% {
        transform: translatex( -100%);
    }
    100% {
        transform: translatex(-20%);
    }
}
@keyframes bottomLine {
    0% {
        transform: translatex(100%);
    }
    100% {
        transform: translatex(20%);
    }
}
@keyframes typewriterWelcome {
    from {
        width: 0;
    }
    to {
        width: 200px;
    }
}
@keyframes typewriterAboutFirstLine {
    from {
        width: 0;
    }
    to {
        width: 900px;
    }
    @media (max-width: 1000px){
        width: 600px;
    }
}
@keyframes typewriterAboutSecondLine {
    from {
        width: 0;
    }
    to {
        width: 790px;
    }
}
@keyframes typewriterAboutThirdLine {
    from {
        width: 0;
    }
    to {
        width: 660px;
    }
}
@keyframes typewriterAboutFourthLine {
    from {
        width: 0;
    }
    to {
        width: 860px;
    }
}
//---------------------------------keyframes for mobile version
@keyframes typewriterWelcomeMobile {
    from {
        width: 0;
    }
    to {
        width: 140px;
    }
}
@keyframes typewriterAboutFirstLineMobile {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
}
@keyframes typewriterAboutFirstLineShortMobile {
    from {
        width: 0;
    }
    to {
        width: 240px;
    }
}
@keyframes typewriterAboutMarkMobile {
    from {
        width: 0;
    }
    to {
        width: 110px;
    }
}


// --------------------------------------------end Mobile
@keyframes blinkTextCursor {
    from {
        border-right-color: #fed136;
    }
    to {
        border-right-color: transparent;
    }
}
@-webkit-keyframes blink-caret {
    50% {
        border-color: white;
    }
}
.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

