.work {
    position: relative;
    text-align: center;
    height: 100vh;
    .container {
        position: relative;
        top: -600px;
        @media (max-width: 550px) {
            top: -482px;
        }
    }
    h1 {
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
        font-size: 37px;
        letter-spacing: 6px;
        font-weight: 400;
        border-bottom: solid 1px #fff;
        border-top: solid 1px #fff;
        display: inline-block;
    }
    &__wrapper {
        padding: 20px;
        border: solid 1px #fff;
    }
    &__sliderItem {
        overflow: hidden;
        position: relative;
        img {
            width: 96%;
            margin: 2%;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
        &:hover img {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
        &:hover .work__overlay {
            -webkit-transform: scaleY(1);
            transform: scaleY(1)
        }
    }
    &__overlay {
        background-color: rgba(0, 0, 0, 0.85);
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        -webkit-transition: .5s all;
        transition: .5s all;
        -webkit-transform: scaley(0);
        transform: scaley(0);
        text-align: center;
        padding: 10px;
        @media (max-width: 600px) {
            left: 0;
            right: 0;
        }
    }
    &__overlayDetiles {
        color: #fff;
        button {
            background: transparent;
            border: solid #fff 1px;
            color: #fff;
            font-family: 'Rajdhani', sans-serif;
            -webkit-transition: .5s;
            transition: .5s;
            padding: 4px 40px;
            font-size: 20px;
            letter-spacing: 3px;
            &:hover {
                background: #fff;
                color: #000;
                -webkit-transition: .5s;
                transition: .5s;
                cursor: pointer;
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }
            @media (max-width: 740px) {
                padding: 2px 12px;
                font-size: 15px;
                letter-spacing: 0;
            }
            @media (max-width: 550px) {
                display: none;
            }
        }
    }
    &__overlayText {
        font-family: 'Rajdhani', sans-serif;
        h2 {
            border-bottom: solid 1px transparent;
            letter-spacing: 2px;
            display: inline-block;
            -webkit-transition: .5s;
            transition: .5s;
            text-transform: uppercase;
            font-weight: lighter;
            &:hover {
                cursor: pointer;
                border-bottom: solid 1px #fff;
                -webkit-transition: border .5s;
                transition: border .5s;
            }
            @media (max-width:992px) {
                margin-bottom: 0;
            }
            @media (max-width:682px) {
                font-size: 16px;
                letter-spacing: 1px;
            }
            @media (max-width: 485px) {
                font-size: 10px;
                letter-spacing: 0;
            }
        }
        p {
            @media (max-width: 992px) {
                margin-top: 0;
            }
            @media (max-width:682px) {
                font-size: 12px;
            }
            @media (max-width: 400px) {
                display: none;
            }
        }
    }
    &__overlayIcon {
        height: 50px;
        width: 50px;
        margin: auto;
        -webkit-animation: spinnerx;
        animation: spinnerx;
        -webkit-animation-duration: 6s;
        animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        @media (max-width: 743px) {
            display: none;
        }
    }
    &__arrowDown {
        position: absolute;
        right: 50%;
        background: url(../img/chevron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 17px;
        bottom: 20px;
        color: #fff;
        font-size: 35px;
        cursor: pointer;
        transform: rotate(180deg)translate(-50%, 0);
        @media (max-width: 991px) {
            bottom: 20%;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
